body {
  margin: 0;
  text-align: center;
  color: #393e46;
}

.top {
  background-image: -webkit-linear-gradient(top, #ffba93, #f7f6e7);
  background-image: -moz-linear-gradient(top, #ffba93, #f7f6e7);
  background-image: -ms-linear-gradient(top, #ffba93, #f7f6e7);
  background-image: -o-linear-gradient(top, #ffba93, #f7f6e7);
  background-image: -webkit-gradient(to bottom, #ffba93, #f7f6e7);
  padding-top: 3.125rem;
  position: relative;
}
.profile {
  margin-bottom: 3.125rem;
}

.mid {
  background-color: #f7f6e7;
}

.bottom {
  background-color: #f8ede3;
  padding: 1.875rem;
}

h1 {
  margin: 3.125rem;
  position: relative;
  top: 3.125rem;
  font-family: "Kaushan Script", cursive;
  font-size: 4.375rem;
  color: #845460;
}

h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  font-weight: light;
  color: #c19277;
}

h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.3rem;
  color: #8e9775;
  text-align: left;
}

.desc {
  display: inline-block;
  position: relative;
  top: 0.625rem;
  font-family: "Kaushan Script", cursive;
  font-weight: normal;
}

.high {
  font-family: "Concert One", cursive;
  text-decoration: underline;
  font-weight: normal;
  margin-left: 0.625rem;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  top: 30%;
  width: 6.25rem;
  height: 6.25rem;
}

.top-cloud {
  position: absolute;
  right: 20%;
  width: 6.25rem;
  height: 6.25rem;
}

.face {
  width: 12.5rem;
  height: 12.5rem;
  margin-top: 3.125rem;
}

p {
  font-weight: light;
  font-family: "KoHo", sans-serif;
}

.comp {
  width: 20%;
  border-radius: 50%;
  float: left;
  margin-right: 1.875rem;
}

.chilli {
  width: 20%;
  border-radius: 50%;
  float: right;
  margin-left: 1.875rem;
}
.mountain {
  height: 24.81rem;
  width: 100%;
}

.skill-row {
  margin: 6.25rem auto 6.25rem auto;
  width: 50%;
  text-align: left;
}

.align {
  text-align: left;
  line-height: 2;
}

hr {
  margin: 100px auto 70px auto;
  width: 5%;
  border-width: 5px;
  border-color: #d1d9d9;
  border-style: dotted none none;
}

.touch {
  font-size: 2rem;
  margin: 0px;
}

.contact-me {
  padding: 1.25rem;
}

.footer-link {
  padding: 0.625rem 1.25rem;
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: #944e6c;
}

.footer-link:hover {
  color: #65d6ce;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  border-radius: 0.625rem;
  color: #000000;
  font-family: Verdana;
  font-size: 1.25rem;
  font-weight: 100 px;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: double #f7f6e7 0;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  border-radius: 0.625rem;
  text-decoration: none;
}

.con {
  margin: 0 auto;
}
